@import url("https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
footer {
  height: 700px;
  background-image: url(../../assets/imgs/Mask\ Group3.png);
}

.footer-top {
  width: 800px;
  padding: 64px;
  background-color: #0c0c0c;
  border: 1px solid #dcca87;
  box-shadow: 22px 30px 95px 1px rgba(0, 0, 0, 0.6980392157);
  margin-left: 300px;
  position: relative;
  top: -180px;
}
.footer-top .footer-info {
  text-align: center;
}
.footer-top .footer-info p {
  font-size: 23px;
  font-weight: 700;
}
.footer-top .footer-info h3 {
  color: #dcca87;
  font-size: 64px;
  font-weight: 600;
  margin-top: -20px;
}
.footer-top .footer-info h5 {
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin-top: -30px;
}
.footer-top .footer-email {
  display: flex;
  align-items: center;
  gap: 32px;
  margin-left: 50px;
}
.footer-top .footer-email input {
  background-color: transparent;
  width: 500px;
  height: 30px;
  border: 1px solid #fff;
}
.footer-top .footer-email button {
  padding: 8px 32px;
  font-family: "Cormorant Upright", serif;
  border: 1px solid #dcca87;
  color: #ffffff;
  background-color: transparent;
}
.footer-top .footer-email button:hover {
  color: #222;
  border: 1px solid #222;
  background-color: #dcca87;
}

.footer-buttom {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 126px;
}
.footer-buttom div {
  text-align: center;
}
.footer-buttom div h3 {
  color: #dcca87;
  font-size: 64px;
  text-transform: uppercase;
  height: 50px;
}
.footer-buttom div h4 {
  font-size: 32px;
  font-weight: 400;
}
.footer-buttom div p {
  font-family: sans-serif;
  color: dimgray;
}
.footer-buttom div .footer-img img {
  width: 30px;
  margin: 20px;
}
.footer-buttom div .footer-paragraf {
  color: #fff;
}
.footer-buttom .footer-buttom-middle {
  margin-top: -60px;
}

header {
  display: grid;
  grid-template-columns: auto auto auto;
  margin: -10px 40px;
  align-items: center;
  justify-content: space-between;
}

.header___first-box {
  text-transform: uppercase;
  font-size: 24px;
  align-items: center;
}

.header___second-box {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  gap: 15px;
  font-size: 10.5px;
}

.header___third-box {
  font-size: 14px;
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
}

main {
  padding: 150px 0px 0px;
  margin: 0 60px;
}

.serving {
  padding-top: 196px;
  padding-bottom: 152px;
  text-align: center;
}
.serving .serving-top p {
  font-size: 23px;
  font-weight: 700px;
}
.serving .serving-top h2 {
  color: #dcca87;
  line-height: 82px;
  margin-top: -30px;
  font-size: 64px;
}
.serving .serving-middle p {
  margin-top: -30px;
  color: #aaaaaa;
  font-size: 16px;
}
.serving .serving-buttom button {
  margin: 10px;
  padding: 8px 32px;
  font-family: "Cormorant Upright", serif;
}
.serving .serving-buttom .serving-btn1 {
  border: 1px solid #dcca87;
  color: #ffffff;
  background-color: transparent;
}
.serving .serving-buttom .serving-btn1:hover {
  color: #222;
  border: 1px solid #222;
  background-color: #dcca87;
}
.serving .serving-buttom .serving-btn2 {
  border: 1px solid #dcca87;
  color: #ffffff;
  background-color: transparent;
}
.serving .serving-buttom .serving-btn2:hover {
  color: #222;
  border: 1px solid #222;
  background-color: #dcca87;
}

.menu {
  background-image: url(../../assets/imgs/Mask\ Group1.png);
  width: 109%;
  margin-left: -70px;
  height: 90vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(60%);
}
.menu div {
  padding: 100px 100px;
}
.menu div p {
  font-size: 64px;
}

.reservations {
  padding: 152px 0px;
}
.reservations .reservations-wrap {
  border: 2px solid #dcca87;
  text-align: center;
  width: 1300px;
  margin-left: 50px;
  background-color: transparent;
  padding-bottom: 130px;
}
.reservations .reservations-wrap .reservations-top p {
  font-size: 23px;
}
.reservations .reservations-wrap .reservations-top h2 {
  color: #dcca87;
  font-size: 64px;
}
.reservations .reservations-wrap .reservations-buttom select {
  background-color: transparent;
  color: #aaaaaa;
  margin: 20px;
  width: 360px;
  height: 40px;
}
.reservations .reservations-wrap .reservations-buttom button {
  margin-top: 80px;
  padding: 8px 32px;
  font-family: "Cormorant Upright", serif;
  border: 1px solid #dcca87;
  color: #ffffff;
  background-color: transparent;
}
.reservations .reservations-wrap .reservations-buttom button:hover {
  color: #222;
  border: 1px solid #222;
  background-color: #dcca87;
}

.happy {
  margin-bottom: 373px;
  width: 109%;
  margin-left: -70px;
  height: 130vh;
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(60%);
  background-image: url(../../assets/imgs/Video.png);
}
.happy div {
  text-align: center;
  padding: 350px 500px 0px;
}
.happy div h2 {
  color: #dcca87;
  font-size: 64px;
  font-weight: 600;
}
.happy div p {
  color: #fff;
  font-size: 32px;
  font-weight: 700;
}

nav {
  margin-top: 20px;
}
nav img {
  width: 100%;
}

.navbar-hero-box {
  display: grid;
  grid-template-columns: auto;
  line-height: 0.1;
  margin-top: -280px;
  justify-content: center;
  align-items: center;
}
.navbar-hero-box .navbar___first-text {
  font-size: 56px;
  color: #DCCA87;
}

.navbar___second-text {
  font-weight: 550;
  margin-top: -15px;
  text-align: center;
}

body {
  background-color: #0C0C0C;
  font-family: "Cormorant Upright", serif;
  color: #ffffff;
  padding: 0;
  margin: 0;
}
body p {
  color: "Open Sans";
  font-weight: 400;
}
body a {
  color: #ffffff;
  text-decoration: none;
  font-family: "Open Sans";
}/*# sourceMappingURL=style.css.map */