doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title About Us 
        link(rel="stylesheet", href="../../scss/style.css")
    body 
        include header
        include navbar
        main 
            section.our-history 
                div.our-history___first-box 
                    p Our History
                    img(src="../../assets/imgs/Vector.png", alt="vector line pug")
                    b serving customers for over a decade
                div.our-history___second-box  
                    div.our-history-first-box     
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis pharetra adipiscing ultrices vulputate posuere tristique. In sed odio nec aliquet eu proin mauris et.
                        img(src="../../assets/imgs/backround.png", alt="backround")
                    div.our-history-second-box
                        img.second-box__first-img(src="../../assets/imgs/pexels-quae.png", alt="")
                        img.second-box__second-img(src="../../assets/imgs/Right content.png", alt="")
            section.about-section 
                div.about-section___first-box 
                    p About Us
                    img(src="../../assets/imgs/Vector.png", alt="vector line pug")
                    b Happy Hours with Us 
                    img.fisrt-box-img(src="../../assets/imgs/video.png", alt="")  
            section.belinvin-section 
                img(src="../../assets/imgs/BG.png", alt="")
        include footer