doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title About Us 
        link(rel="stylesheet", href="../../scss/style.css")
    body 
        include header
        include navbar
        main 
            section 
                div 
                    p Our History
                    img(src="../../assets/imgs/Vector.png", alt="vector line pug")
                    
                div 
                div
                    div 
                    div