footer 
    div.footer-top 
        div.footer-info
            p Newsletter
            h3 Subscribe to Our Newsletter
            h5 And never miss latest Updates!
        div.footer-email 
            input(type="email")(placeholder="Email Address")
            button Subscribe
    div.footer-buttom 
        div 
            h4 Contact Us
            p 9 W 53rd St, New York, NY 10019, USA
            p +1 212-344-1230
            p +1 212-555-1230
        div.footer-buttom-middle 
            h3 Gerícht
            p.footer-paragraf "The best way to find yourself is to lose yourself in the #[br] service of others.” 
            div.footer-img 
                img(src="../../assets/imgs/u_facebook-f.svg", alt="img")
                img(src="../../assets/imgs/u_twitter-alt.svg", alt="img")
                img(src="../../assets/imgs/u_instagram.svg", alt="img")
        div 
            h4 Working Hours
            p Monday-Friday: #[br] 08:00 am -12:00 am
            p Saturday-Sunday: #[br] 07:00am -11:00 pm
        
        