header 
    div.header___first-box 
        p GeriÌcht
    div.header___second-box 
        a(href="") Home
        a(href="") Pages
        a(href="") Contact Us
        a(href="") Blog
        a(href="") Landing
    div.header___third-box 
        a(href="") Log in / registration
        a(href="") book table