doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Our service 
        link(rel="stylesheet", href="../../scss/style.css")
    body 
        include header
        include navbar
        main 
            section.serving     
                div.serving-top     
                    p Serving Quality
                    h2 We at Gericth are serving our customers #[br]  for over a decade. 
                div.serving-middle 
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis pharetra adipiscing ultrices vulputate posuere #[br] tristique. In sed odio nec aliquet eu proin mauris et.
                div.serving-buttom 
                    button.serving-btn1 Read More
                    button.serving-btn2 Contact Us
                div 

            section.menu
                div 
                    p Bar Menu
                    p Food Menu
                    p Desserts Menu

            section.reservations  
                div.reservations-wrap     
                    div.reservations-top
                        p Reservations
                        h2 Book A Table
                    div.reservations-buttom 
                        form
                            select
                                option(disabled) 1 person
                                option 2 person
                                option 3 person
                                option 4 person 
                            select
                                option(disabled) 12/05/2021
                                option 12/06/2021
                                option 12/07/2021
                                option 12/08/2021
                            select
                                option(disabled) 11:00 AM
                                option 12:00 AM
                                option 13:00 AM
                                option 14:00 AM
                        button Book Now

            section.happy
                div 
                    h2 Happy Hours
                    p Monday - Friday (4:00 Pm - 7:00 pm)
        include footer

