doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Our service 
        link(rel="stylesheet", href="../../scss/style.css")
    body 
        include header
        include navbar
        main 
            section.serving     
                div.serving     
                    p Serving Quality
                    h2 We at Gericth are serving our customers #[br]  for over a decade. 
                div.serving 
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis pharetra adipiscing ultrices vulputate posuere #[br] tristique. In sed odio nec aliquet eu proin mauris et.
                div.serving 
                    button Read More
                    button Contact Us
